body {
    font-family: 'GESSTwoLight-Light' !important;
}

a:hover {
    text-decoration: none;
}

/* calendar room */
.calendarshow {
    padding-top: 50px;
}
/* room create */
h6 {
    color: #007bff;
}
